<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div style="width: 600px; margin: auto; border: 1px #ccc solid; padding: 30px">

<h4>Login</h4>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">User name</label>
            <input name="username" type="text" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="text" class="form-control" id="password">
        </div>
        <input type="submit" class="btn btn-primary" value ="Login"/>
    </form>
</div>
</body>
</html>